h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    font-style: oblique;
}

    .bg-img {
        /* The image used */
        background-image: url("photos/kpclogo.jpg");

        min-height: 300px;
        width: auto;
        margin: 10px;


        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* Needed to position the navbar */
        position: relative;
      }

      /* Position the navbar container inside the image */
      .container {
        position: absolute;
        margin: 10px;
        width: auto;
      }

      /* The navbar */
      .topnav {
        overflow: hidden;
        background-color: gray;
      }

      /* Navbar links */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }

/*hamburger*/
      @media (min-width: 550px) {
        nav > .fa-bars {
          display: none;
        }
      }
/*in html for scrolling*/
      @media (max-width: 550px) {
        .hidden--mobile {
          display: none;
        }
      }

/*aligning the about section, border and word font*/
.About {

    border: 8px solid white;
    border-style: double;
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 300px;
    width: 55%;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: 350px;
    margin-left: 350px;
    color: whitesmoke;


}

/*margin for all images*/
div.topics {
    width: auto;
        margin: 5px;
        margin-top: 150px;
    margin-bottom: 70px;
    margin-right: 400px;
    margin-left: 400px;
        white-space: nowrap;
        font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
main.books
{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3.category
{

    font-size: x-large
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3 {
    text-align: center;
    font-size: x-large


}

div.pic {
    margin: 5px;
        margin-top: 150px;
    margin-bottom: 70px;
    margin-right: 400px;
    margin-left: 400px;
}

form {
    border:palevioletred;
border-width: 8px;
border-style: double;
    text-align: center;

    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 300px;
    width: 55%;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: 350px;
    margin-left: 350px;
}

/*hover color links*/
a:hover {
    color:palevioletred;
}

body {
    background: gray;
}
/*links to each page*/
ul li {
    list-style-position: inside;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large
}


main.books {

       text-align: center;


    }

    section {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }



    /*top of the page*/

    header {
        background-color: #666;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
      }
/*background*/
    article {

      background-color: peachpuff;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      border: dotted;
      border-bottom-width: 5px;
        padding: 10px;
    }

/*stats*/

   div.bio {
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;

    }


/*asking*/
    h2 {
      color: whitesmoke;
      text-align: left;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 18px;
    }
/*website links*/
    .tube {
    text-align: center;

    }
/*contact info*/
    .about {
      background-color: #666;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
    }


footer {
    text-align: center;
    background-color: whitesmoke;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

