h1 {
    color: black;
    font-style: oblique;
}

h1 {
    text-align: center

}

h2 {
    text-align: center;
    font-style: oblique;


}

    .bg-img {
        /* The image used */
        background-image: url("photos/kpclogo.jpg");

        min-height: 300px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* Needed to position the navbar */
        position: relative;
      }

      /* Position the navbar container inside the image */
      .container {
        position: absolute;
        margin: 10px;
        width: auto;
      }

      /* The navbar */
      .topnav {
        overflow: hidden;
        background-color: gray;
      }

      /* Navbar links */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }




.About {

    border: 8px solid white;
    border-style: double;
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 300px;
    width: 55%;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: 350px;
    margin-left: 350px;


}
.topics {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main.books
{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3.category
{

    font-size: x-large
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3 {
    text-align: center;
    font-size: x-large


}



a:hover {
    color: rgb(202, 22, 52);
}

body {
    background: gray;
}

ul li {
    list-style-position: inside;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large
}


main.books {

       text-align: center;


    }

    section {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    section2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;

    }


footer {
    text-align: center;
    background-color: whitesmoke;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

